* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: linear-gradient(45deg, #ffffff, #b4aef55e);
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
  color: lightslategray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title-page {
  text-decoration: none;
  color: lightslategray;
  font-family: "Paytone One", sans-serif;
}

.header-message {
  border-top: solid 1px lightgray;
  padding-top: 5px;
}

.filters-container {
  background: linear-gradient(
    160deg,
    rgba(137, 6, 237, 1) 0%,
    rgba(68, 65, 249, 1) 100%
  );
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}

.filters-container select,
input {
  color: grey;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.icon-filter-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-filter {
  position: absolute;
  color: lightslategrey;
  margin-left: 10px;
  z-index: 1;
}

.input-filter {
  padding: 5px 5px 5px 30px;
  position: relative;
}

.main {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 300px;
  border: 1px solid rgb(235, 235, 235);
  font-family: sans-serif;
  box-shadow: -6px 5px 5px #e6e6e6;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-image img {
  width: 100%;
}

.card-title {
  font-weight: 900;
  color: rgb(90, 89, 89);
  padding: 10px;
}

.card-text {
  font-size: 0.8em;
  padding: 10px;
  line-height: 1.5em;
  color: grey;
}

.icons-container {
  padding: 10px;
  font-size: 0.8em;
}

.icons-bottom {
  display: flex;
  justify-content: space-between;
}

.icon-text {
  display: inline-block;
  background: #f3f3f3;
  padding: 0px 5px 0px 0px;
  border-radius: 5px;
  margin: 5px 0;
  height: 22px;
  color: grey;
}

.icons {
  background: lightsalmon;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}

.icons-price {
  background: lightsalmon;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  margin: 3px 0;
}

.icons-price i {
  padding: 0 2px;
}

.disabled {
  opacity: 0.2;
}

.button-reserve {
  background: linear-gradient(
    160deg,
    rgba(137, 6, 237, 1) 0%,
    rgba(68, 65, 249, 1) 100%
  );
  color: white;
  padding: 15px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.button-reserve a {
  text-decoration: none;
  color: white;
}

.no-hotels {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}


.main-error-message {
  font-size: large;
  color: lightcoral;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-error-detail {
  color: lightblue;
  font-size: 0.2em;
}
